---
import { getCouponDetailsFromId } from "../../service/coupons/coupon.service";
import type { Coupon as CouponType } from "../../service/coupons/types/coupon.types";
import { Coupon } from "./coupon";

// Sequential map from 1 to 10 to get all coupons
const coupons: CouponType[] = Array.from({ length: 5 }, (_, i) => 
    getCouponDetailsFromId((i + 1).toString())
);

---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
{
    coupons.map((coupon) => (
        <Coupon coupon={coupon} client:load/>
    ))
}
</div>